<!DOCTYPE html>
<html lang="en-US">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREDENTIAL PAGE</title>
    <meta name='robots' content='max-image-preview:large' />
    <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />


        <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/../static/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon/favicon-16x16.png">
<link rel="manifest" href="../static/images/favicon/site.webmanifest">
    
    <link rel='stylesheet' id='wp-block-library-css'
        href='../static/css/other/block-library/style.min3781.css?ver=6.2.2' media='all' />
    
    <link rel='stylesheet' id='classic-theme-styles-css' href='../static/css/classic-themes.min3781.css?ver=6.2.2'
        media='all' />
    
    <link rel='stylesheet' id='contact-form-7-css'
        href='../static/plugins/contact-form-7/includes/css/styles41a3.css?ver=5.8' media='all' />
    <link rel='stylesheet' id='redux-extendify-styles-css'
        href='../static/plugins/redux-framework/redux-core/assets/css/extendify-utilities4235.css?ver=4.4.5'
        media='all' />
    <link rel='stylesheet' id='icon-css' href='../static/css/iconoir3781.css?ver=6.2.2' media='all' />
    <link rel='stylesheet' id='bootstrap-css' href='../static/css/bootstrap.min3781.css?ver=6.2.2' media='all' />
    <link rel='stylesheet' id='aos-css' href='../static/css/aos3781.css?ver=6.2.2' media='all' />
    <link rel='stylesheet' id='gridx-style-css' href='../static/css/style3781.css?ver=6.2.2' media='all' />
    <link rel='stylesheet' id='gridx-unit-test-css' href='../static/css/gridx-unit-test3781.css?ver=6.2.2'
        media='all' />
    <link rel='stylesheet' id='gridx-fonts-css'
        href='http://fonts.googleapis.com/css?family=Inter%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C%26subset%3Dlatin%2Clatin-ext&amp;ver=1.0.0'
        media='all' />
    <link rel='stylesheet' id='elementor-icons-css'
        href='../static/plugins/elementor/assets/lib/eicons/css/elementor-icons.minfc13.css?ver=5.20.0' media='all' />
    <link rel='stylesheet' id='elementor-frontend-css'
        href='../static/plugins/elementor/assets/css/frontend-lite.mina1c3.css?ver=3.14.1' media='all' />
    <link rel='stylesheet' id='swiper-css'
        href='../static/plugins/elementor/assets/lib/swiper/v8/css/swiper.min94a4.css?ver=8.4.5' media='all' />
    <link rel='stylesheet' id='elementor-post-16-css' href='../static/css/elementor/css/post-16ad38.css?ver=1687779698'
        media='all' />
    <link rel='stylesheet' id='elementor-global-css' href='../static/css/elementor/css/globalad38.css?ver=1687779698'
        media='all' />
    <link rel='stylesheet' id='elementor-post-1065-css'
        href='../static/css/elementor/css/post-10650407.css?ver=1688621074' media='all' />
    <link rel='stylesheet' id='google-fonts-1-css'
        href='https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;display=swap&amp;ver=6.2.2'
        media='all' />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <script src='../static/js/jquery/jquery.min5aed.js?ver=3.6.4' id='jquery-core-js'></script>
    <script src='../static/js/jquery/jquery-migrate.min6b00.js?ver=3.4.0' id='jquery-migrate-js'></script>

    

    
</head>

<body
    class="page-template page-template-page-templates page-template-main-credential page-template-page-templatesmain-credential-php page page-id-1065 elementor-default elementor-kit-16 elementor-page elementor-page-1065">
    

    <main class="main-aboutpage">

        <!-- Header -->
        {% include "header.html" %}

        <!-- Credentials -->
        <section class="credential-area">
            <div class="container">
                <div class="gx-row d-flex">

                    <div class="credential-sidebar-wrap" data-aos="zoom-in">
                        <div class="credential-sidebar text-center">
                            <div class="shadow-box">

                                <img src="../static/images/bg1.png" alt="BG" class="bg-img">

                                <div class="img-box">
                                    <img src="../static/images/me.png" alt="About Me">
                                </div>
                                <h2>Bilyaminu B-Allah</h2>
                                <p>@halalkharbouch</p>

                                <ul class="social-links d-flex justify-content-center">
                                    <li><a href="https://www.linkedin.com/in/bilyaminu-bawan-allah-b76696a5/"><i
                                                class="iconoir-linkedin                                    "></i></a>
                                    </li>
                                    <li><a href="#"><i class="iconoir-twitter"></i></a></li>
                                    <li><a href="https://www.instagram.com/halal_codes/"><i class="iconoir-instagram"></i></a></li>
                                    <li><a href="#"><i class="iconoir-facebook-tag"></i></a></li>
                                </ul>

                                <a href="{{ url_for('contact') }}" class="theme-btn">Contact Me</a>
                            </div>
                        </div>
                    </div>


                    <div data-elementor-type="wp-page" data-elementor-id="1065" class="elementor elementor-1065">
                        <section
                            class="elementor-section elementor-top-section elementor-element elementor-element-6d57135 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                            data-id="6d57135" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-no">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2705f96 margin-0"
                                    data-id="2705f96" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-35461e7 elementor-widget elementor-widget-gridxdacredentialcontentbox"
                                            data-id="35461e7" data-element_type="widget"
                                            data-widget_type="gridxdacredentialcontentbox.default">
                                            <div class="elementor-widget-container">

                                                <!-- Start Credentials Content Box
    ============================================= -->

                                                <div class="credential-content flex-1">
                                                    <div class="credential-about" data-aos="zoom-in">
                                                        <h2>About Me</h2>
                                                        <p>Hello, I'm Bilyaminu Bawan Allah, also known as Halal
                                                            Kharbouch. I'm a seasoned web developer with a strong focus
                                                            on backend technologies, including Flask, Django, and
                                                            RESTful APIs. My journey into the world of web development
                                                            began with a passion for creating powerful and efficient web
                                                            solutions. With years of experience, I have honed my skills
                                                            and developed a deep understanding of Python, HTML, CSS, and
                                                            JavaScript.

                                                            Location: Nigeria 🇳🇬
                                                        </p>
                                                        <p>Throughout my career as a freelance web developer, I have had
                                                            the privilege of working on a diverse range of projects.
                                                            From crafting interactive websites to building scalable
                                                            backend systems, I thrive on transforming ideas into
                                                            functional, user-friendly, and aesthetically pleasing
                                                            digital experiences.</p>
                                                    </div>



                                                    <div class="credential-edc-exp credential-education">
                                                        <h2 data-aos="fade-up">Education</h2>
                                                        <div class="credential-edc-exp-item" data-aos="zoom-in">

                                                            <h3>Advance Diploma in Software Engineering</h3>
                                                            <h5>Aptech</h5>
                                                            <p>During my educational journey at Aptech, I pursued an
                                                                Advance Diploma in Software Engineering. This intensive
                                                                program equipped me with a comprehensive understanding
                                                                of software development, from fundamental concepts to
                                                                advanced techniques. I gained expertise in various
                                                                programming languages, software design principles, and
                                                                the development of robust and scalable applications.</p>
                                                        </div>
                                                        <div class="credential-edc-exp-item" data-aos="zoom-in">

                                                            <h3>Bachelors Degree in Computer Science</h3>
                                                            <h5>Institut Superieur De Formation Professionnelle</h5>
                                                            <p>My pursuit of a Bachelor's Degree in Computer Science at
                                                                Institut Superieur De Formation Professionnelle provided
                                                                me with a strong foundation in computer science
                                                                principles and practices. Throughout this program, I
                                                                delved into a wide range of topics, including
                                                                algorithms, data structures, software development
                                                                methodologies, and computer architecture.</p>
                                                        </div>
                                                    </div>

                                                    <div class="skills-wrap">
                                                        <h2 data-aos="fade-up">Skills</h2>
                                                        <div class="d-grid skill-items gap-24 flex-wrap">
                                                            <div class="skill-item" data-aos="zoom-in">
                                                                <span class="percent">60%</span>
                                                                <h3 class="name">JavaScript</h3>

                                                            </div>
                                                            <div class="skill-item" data-aos="zoom-in">
                                                                <span class="percent">90%</span>
                                                                <h3 class="name">Python</h3>

                                                            </div>
                                                            <div class="skill-item" data-aos="zoom-in">
                                                                <span class="percent">92%</span>
                                                                <h3 class="name">Flask</h3>

                                                            </div>
                                                            <div class="skill-item" data-aos="zoom-in">
                                                                <span class="percent">90%</span>
                                                                <h3 class="name">RESTful</h3>

                                                            </div>
                                                            <div class="skill-item" data-aos="zoom-in">
                                                                <span class="percent">81%</span>
                                                                <h3 class="name">HTML</h3>

                                                            </div>
                                                            <div class="skill-item" data-aos="zoom-in">
                                                                <span class="percent">87%</span>
                                                                <h3 class="name">CSS</h3>

                                                            </div>
                                                            <div class="skill-item" data-aos="zoom-in">
                                                                <span class="percent">92%</span>
                                                                <h3 class="name">SQL</h3>

                                                            </div>
                                                            <div class="skill-item" data-aos="zoom-in">
                                                                <span class="percent">60%</span>
                                                                <h3 class="name">Django</h3>

                                                            </div>
                                                        </div>
                                                    </div>




                                                    

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </section>
                    </div>


                </div>
            </div>
        </section>
        {% include "footer.html" %}

    </main>

    <script src='../static/plugins/contact-form-7/includes/swv/js/index41a3.js?ver=5.8' id='swv-js'></script>
    
    <script src='../static/plugins/contact-form-7/includes/js/index41a3.js?ver=5.8' id='contact-form-7-js'></script>
    <script src='../static/js/bootstrap.bundle.min3781.js?ver=6.2.2' id='bootstrap-js'></script>
    <script src='../static/js/aos3781.js?ver=6.2.2' id='aos-js'></script>
    <script src='../static/js/main3781.js?ver=6.2.2' id='gridx-main-js'></script>
    <script src='../static/js/ajax-form3781.html?ver=6.2.2' id='ajax-form-js'></script>
    <script src='../static/plugins/elementor/assets/js/webpack.runtime.mina1c3.js?ver=3.14.1'
        id='elementor-webpack-runtime-js'></script>
    <script src='../static/plugins/elementor/assets/js/frontend-modules.mina1c3.js?ver=3.14.1'
        id='elementor-frontend-modules-js'></script>
    <script src='../static/plugins/elementor/assets/lib/waypoints/waypoints.min05da.js?ver=4.0.2'
        id='elementor-waypoints-js'></script>
    <script src='../static/js/jquery/ui/core.min3f14.js?ver=1.13.2' id='jquery-ui-core-js'></script>
    
    <script src='../static/plugins/elementor/assets/js/frontend.mina1c3.js?ver=3.14.1'
        id='elementor-frontend-js'></script>
</body>


</html>