<!DOCTYPE html>
<html lang="en-US">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACT INFO</title>
    <meta name='robots' content='max-image-preview:large' />
    <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />


        <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/../static/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon/favicon-16x16.png">
<link rel="manifest" href="../static/images/favicon/site.webmanifest">


    <link rel='stylesheet' id='wp-block-library-css'
        href='../static/css/other/block-library/style.min3781.css?ver=6.2.2' media='all' />

    <link rel='stylesheet' id='classic-theme-styles-css' href='../static/css/classic-themes.min3781.css?ver=6.2.2'
        media='all' />

    <link rel='stylesheet' id='contact-form-7-css'
        href='../static/plugins/contact-form-7/includes/css/styles41a3.css?ver=5.8' media='all' />
    <link rel='stylesheet' id='redux-extendify-styles-css'
        href='../static/plugins/redux-framework/redux-core/assets/css/extendify-utilities4235.css?ver=4.4.5'
        media='all' />
    <link rel='stylesheet' id='icon-css' href='../static/css/iconoir3781.css?ver=6.2.2' media='all' />
    <link rel='stylesheet' id='bootstrap-css' href='../static/css/bootstrap.min3781.css?ver=6.2.2' media='all' />
    <link rel='stylesheet' id='aos-css' href='../static/css/aos3781.css?ver=6.2.2' media='all' />
    <link rel='stylesheet' id='gridx-style-css' href='../static/css/style3781.css?ver=6.2.2' media='all' />
    <link rel='stylesheet' id='gridx-unit-test-css' href='../static/css/gridx-unit-test3781.css?ver=6.2.2'
        media='all' />
    <link rel='stylesheet' id='gridx-fonts-css'
        href='http://fonts.googleapis.com/css?family=Inter%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C%26subset%3Dlatin%2Clatin-ext&amp;ver=1.0.0'
        media='all' />
    <link rel='stylesheet' id='elementor-icons-css'
        href='../static/plugins/elementor/assets/lib/eicons/css/elementor-icons.minfc13.css?ver=5.20.0' media='all' />
    <link rel='stylesheet' id='elementor-frontend-css'
        href='../static/plugins/elementor/assets/css/frontend-lite.mina1c3.css?ver=3.14.1' media='all' />
    <link rel='stylesheet' id='swiper-css'
        href='../static/plugins/elementor/assets/lib/swiper/v8/css/swiper.min94a4.css?ver=8.4.5' media='all' />
    <link rel='stylesheet' id='elementor-post-16-css' href='../static/css/elementor/css/post-16ad38.css?ver=1687779698'
        media='all' />
    <link rel='stylesheet' id='elementor-global-css' href='../static/css/elementor/css/globalad38.css?ver=1687779698'
        media='all' />
    <link rel='stylesheet' id='elementor-post-1560-css'
        href='../static/css/elementor/css/post-1560e7ea.css?ver=1687779875' media='all' />
    <link rel='stylesheet' id='google-fonts-1-css'
        href='https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;display=swap&amp;ver=6.2.2'
        media='all' />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <script src='../static/js/jquery/jquery.min5aed.js?ver=3.6.4' id='jquery-core-js'></script>
    <script src='../static/js/jquery/jquery-migrate.min6b00.js?ver=3.4.0' id='jquery-migrate-js'></script>




    <style id="wp-custom-css">
        .contact-details,
        .social-links {
            padding-left: 0 !important;
        }

        .contact-area .input-group p {
            width: 100%
        }

        .contact-area .contact-form form .input-group+.input-group {
            margin-top: -3px;
        }
    </style>
</head>

<body
    class="page-template page-template-page-templates page-template-main-contact page-template-page-templatesmain-contact-php page page-id-1560 elementor-default elementor-kit-16 elementor-page elementor-page-1560">


    <main class="main-aboutpage">

        <!-- Header -->
        {% include "header.html" %}


        <!-- Contact -->








        <div data-elementor-type="wp-page" data-elementor-id="1560" class="elementor elementor-1560">
            <section
                class="elementor-section elementor-top-section elementor-element elementor-element-89e5b50 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                data-id="89e5b50" data-element_type="section">
                <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-80b8439"
                        data-id="80b8439" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-aa1b3d3 elementor-widget__width-initial elementor-widget elementor-widget-gridxdacontactinfobox"
                                data-id="aa1b3d3" data-element_type="widget"
                                data-widget_type="gridxdacontactinfobox.default">
                                <div class="elementor-widget-container">

                                    <!-- Start Contact  Box
    ============================================= -->

                                    <!-- Contact -->
                                    <section class="contact-area">
                                        <div class="container col-md-8 offset-md-2">
                                            <div class="gx-row d-flex justify-content-between gap-24">

                                                

                                                <div data-aos="zoom-in" class="contact-form">
                                                    <div class="shadow-box">

                                                        <img decoding="async" src="../static/images/bg1.png" alt="BG"
                                                            class="bg-img">


                                                        <img decoding="async" src="../static/images/icon2.png"
                                                            alt="Icon" class="star-icon">

                                                        <h1>Login to <span>continue.</span></h1>
                                                        {% with messages = get_flashed_messages() %}
                                                        {% if messages %}
                                                        <p style="color: red">{{ messages[0] }}</p>
                                                        {% endif %}
                                                    {% endwith %}

                                                        <div class="wpcf7 no-js" id="wpcf7-f1777-p1560-o1" lang="en-US"
                                                            dir="ltr">
                                                            <div class="screen-reader-response">
                                                                <p role="status" aria-live="polite" aria-atomic="true">
                                                                </p>
                                                                <ul></ul>
                                                            </div>
                                                            <form action="{{ url_for('login') }}" method="post" class="wpcf7-form init"
                                                                aria-label="Contact form" novalidate="novalidate"
                                                                data-status="init">
                                                                
                                                                
                                                                <div class="input-group">
                                                                    
                                                                </div>
                                                                <div class="input-group">
                                                                    <p><span class="wpcf7-form-control-wrap"
                                                                            data-name="email"><input size="40"
                                                                                class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email input-group"
                                                                                id="email" aria-required="true"
                                                                                aria-invalid="false"
                                                                                placeholder="Email *" value=""
                                                                                type="email" name="email" required></span>
                                                                    </p>
                                                                </div>
                                                                <div class="input-group">
                                                                    <p><span class="wpcf7-form-control-wrap"
                                                                            data-name="subject"><input size="40"
                                                                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required input-group"
                                                                                id="subject" aria-required="true"
                                                                                aria-invalid="false"
                                                                                placeholder="Password *" value=""
                                                                                type="password" name="password" required></span>
                                                                    </p>
                                                                </div>
                                                                
                                                                <div class="input-group">
                                                                    <p><button class="theme-btn submit-btn"
                                                                            type="submit" name="submit" id="submit">Login</button>
                                                                    </p>
                                                                </div>
                                                                <div class="wpcf7-response-output" aria-hidden="true">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </section>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>



        {% include "footer.html" %}

    </main>

    <script src='../static/plugins/contact-form-7/includes/swv/js/index41a3.js?ver=5.8' id='swv-js'></script>

    <script src='../static/plugins/contact-form-7/includes/js/index41a3.js?ver=5.8' id='contact-form-7-js'></script>
    <script src='../static/js/bootstrap.bundle.min3781.js?ver=6.2.2' id='bootstrap-js'></script>
    <script src='../static/js/aos3781.js?ver=6.2.2' id='aos-js'></script>
    <script src='../static/js/main3781.js?ver=6.2.2' id='gridx-main-js'></script>
    <script src='../static/js/ajax-form3781.html?ver=6.2.2' id='ajax-form-js'></script>
    <script src='../static/plugins/elementor/assets/js/webpack.runtime.mina1c3.js?ver=3.14.1'
        id='elementor-webpack-runtime-js'></script>
    <script src='../static/plugins/elementor/assets/js/frontend-modules.mina1c3.js?ver=3.14.1'
        id='elementor-frontend-modules-js'></script>
    <script src='../static/plugins/elementor/assets/lib/waypoints/waypoints.min05da.js?ver=4.0.2'
        id='elementor-waypoints-js'></script>
    <script src='../static/js/jquery/ui/core.min3f14.js?ver=1.13.2' id='jquery-ui-core-js'></script>
    
    <script src='../static/plugins/elementor/assets/js/frontend.mina1c3.js?ver=3.14.1'
        id='elementor-frontend-js'></script>
</body>



</html>