<!DOCTYPE html>
<html lang="en-US">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SERVICE OFFERING</title>
    <meta name='robots' content='max-image-preview:large' />
    <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />


        <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/../static/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon/favicon-16x16.png">
<link rel="manifest" href="../static/images/favicon/site.webmanifest">

    <link rel='stylesheet' id='wp-block-library-css'
        href='../static/css/other/block-library/style.min3781.css?ver=6.2.2' media='all' />

    <link rel='stylesheet' id='classic-theme-styles-css' href='../static/css/classic-themes.min3781.css?ver=6.2.2'
        media='all' />

    <link rel='stylesheet' id='contact-form-7-css'
        href='../static/plugins/contact-form-7/includes/css/styles41a3.css?ver=5.8' media='all' />
    <link rel='stylesheet' id='redux-extendify-styles-css'
        href='../static/plugins/redux-framework/redux-core/assets/css/extendify-utilities4235.css?ver=4.4.5'
        media='all' />
    <link rel='stylesheet' id='icon-css' href='../static/css/iconoir3781.css?ver=6.2.2' media='all' />
    <link rel='stylesheet' id='bootstrap-css' href='../static/css/bootstrap.min3781.css?ver=6.2.2' media='all' />
    <link rel='stylesheet' id='aos-css' href='../static/css/aos3781.css?ver=6.2.2' media='all' />
    <link rel='stylesheet' id='gridx-style-css' href='../static/css/style3781.css?ver=6.2.2' media='all' />
    <link rel='stylesheet' id='gridx-unit-test-css' href='../static/css/gridx-unit-test3781.css?ver=6.2.2'
        media='all' />
    <link rel='stylesheet' id='gridx-fonts-css'
        href='http://fonts.googleapis.com/css?family=Inter%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C%26subset%3Dlatin%2Clatin-ext&amp;ver=1.0.0'
        media='all' />
    <link rel='stylesheet' id='elementor-icons-css'
        href='../static/plugins/elementor/assets/lib/eicons/css/elementor-icons.minfc13.css?ver=5.20.0' media='all' />
    <link rel='stylesheet' id='elementor-frontend-css'
        href='../static/plugins/elementor/assets/css/frontend-lite.mina1c3.css?ver=3.14.1' media='all' />
    <link rel='stylesheet' id='swiper-css'
        href='../static/plugins/elementor/assets/lib/swiper/v8/css/swiper.min94a4.css?ver=8.4.5' media='all' />
    <link rel='stylesheet' id='elementor-post-16-css' href='../static/css/elementor/css/post-16ad38.css?ver=1687779698'
        media='all' />
    <link rel='stylesheet' id='elementor-global-css' href='../static/css/elementor/css/globalad38.css?ver=1687779698'
        media='all' />
    <link rel='stylesheet' id='elementor-post-1119-css'
        href='../static/css/elementor/css/post-1119e185.css?ver=1689306251' media='all' />
    <link rel='stylesheet' id='google-fonts-1-css'
        href='https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;display=swap&amp;ver=6.2.2'
        media='all' />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <script src='../static/js/jquery/jquery.min5aed.js?ver=3.6.4' id='jquery-core-js'></script>
    <script src='../static/js/jquery/jquery-migrate.min6b00.js?ver=3.4.0' id='jquery-migrate-js'></script>



    <style id="wp-custom-css">
        .service-area .elementor-widget-container {
            height: 100%
        }

        .service-area .info-box.about-contact-box {
            padding-bottom: 58px
        }

        .margin-0,
        .margin-0 .elementor-widget-wrap {
            margin: 0 !important;
        }
    </style>
</head>

<body
    class="page-template page-template-page-templates page-template-main-service page-template-page-templatesmain-service-php page page-id-1119 elementor-default elementor-kit-16 elementor-page elementor-page-1119">

    <main class="main-homepage">

        {% include "header.html" %}

        <!-- Service -->
        <section class="service-area">
            <div class="container">

                <div data-elementor-type="wp-page" data-elementor-id="1119" class="elementor elementor-1119">
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-c057728 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="c057728" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5690479"
                                data-id="5690479" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <section
                                        class="elementor-section elementor-inner-section elementor-element elementor-element-44fca9a elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                        data-id="44fca9a" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-7a7fa3f"
                                                data-id="7a7fa3f" data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-4635d00 h-100 elementor-widget elementor-widget-gridxdaservicesidebar"
                                                        data-id="4635d00" data-element_type="widget"
                                                        data-widget_type="gridxdaservicesidebar.default">
                                                        <div class="elementor-widget-container">

                                                            <!-- Start ServiceSidebar
    ============================================= -->




                                                            <!-- Sidebar -->

                                                            <div class="service-sidebar" data-aos="fade-right">
                                                                <div class="service-sidebar-inner shadow-box">
                                                                    <ul>
                                                                        <li>
                                                                            <i class="iconoir-server icon"></i>
                                                                            Backend Development
                                                                        </li>
                                                                        <li>
                                                                            <i class="iconoir-dev-mode-laptop icon"></i>
                                                                            Web Development
                                                                        </li>
                                                                        <li>
                                                                            <i
                                                                                class="iconoir-database-settings icon"></i>
                                                                            Database Management
                                                                        </li>
                                                                        <li>
                                                                            <i
                                                                                class="iconoir-code-brackets-square icon"></i>
                                                                            Hosting and Deployment
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>




                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-b02c996"
                                                data-id="b02c996" data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-ad8c673 elementor-widget elementor-widget-gridxdaservicecontentbox"
                                                        data-id="ad8c673" data-element_type="widget"
                                                        data-widget_type="gridxdaservicecontentbox.default">
                                                        <div class="elementor-widget-container">

                                                            <!-- Start AboutDetail
    ============================================= -->



                                                            <!-- Content -->

                                                            <h1 class="section-heading" data-aos="fade-up">
                                                                <img decoding="async" src="../static/images/star-2.png"
                                                                    alt="Star">

                                                                My Offerings
                                                                <img decoding="async" src="../static/images/star-2.png"
                                                                    alt="Star">

                                                            </h1>

                                                            <div class="service-content-wrap" data-aos="zoom-in">
                                                                <div class="service-content-inner shadow-box">
                                                                    <div class="service-items">
                                                                        <div class="service-item">
                                                                            <h3>Backend Developmenty</h3>
                                                                            <p>Building server-side applications and
                                                                                APIs,
                                                                                Managing databases and handling data
                                                                                storage,
                                                                                Implementing RESTful or GraphQL APIs,
                                                                                Optimizing website performance and
                                                                                speed.</p>
                                                                        </div>
                                                                        <div class="service-item">
                                                                            <h3>Web Development</h3>
                                                                            <p>Building custom websites from scratch,
                                                                                Developing web applications using
                                                                                frameworks like Flask, Django, Ruby on
                                                                                Rails, or Node.js,
                                                                                Creating responsive and mobile-friendly
                                                                                designs,
                                                                                Implementing user authentication and
                                                                                authorization systems.</p>
                                                                        </div>
                                                                        <div class="service-item">
                                                                            <h3>Database Management</h3>
                                                                            <p>Database design and optimization,
                                                                                Data migration and transformation,
                                                                                SQL and NoSQL database administration.
                                                                            </p>
                                                                        </div>
                                                                        <div class="service-item">
                                                                            <h3>Web Hosting and Deployment</h3>
                                                                            <p>Recommending and configuring web hosting
                                                                                solutions,
                                                                                Deploying websites and applications to
                                                                                hosting servers (e.g., AWS, Heroku,
                                                                                DigitalOcean),
                                                                                Managing domain registration and DNS
                                                                                settings.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>



                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-d3ed86a elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="d3ed86a" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-73c83d4"
                                data-id="73c83d4" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <section
                                        class="elementor-section elementor-inner-section elementor-element elementor-element-e33f508 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                        data-id="e33f508" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-822f062"
                                                data-id="822f062" data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-031f9cc elementor-widget elementor-widget-gridxdaprofilesbox"
                                                        data-id="031f9cc" data-element_type="widget"
                                                        data-widget_type="gridxdaprofilesbox.default">
                                                        <div class="elementor-widget-container">

                                                            <!-- Start Profiles Box
    ============================================= -->

                                                            <div class="col-md-12">
                                                                <div class="blog-service-profile-wrap">

                                                                    <div data-aos="zoom-in"
                                                                        class="about-profile-box-wrap">
                                                                        <div
                                                                            class="about-profile-box info-box shadow-box h-full">

                                                                            <img decoding="async"
                                                                                src="../static/images/bg1.png" alt="BG"
                                                                                class="bg-img">


                                                                            <div class="inner-profile-icons shadow-box">

                                                                                <a href="https://www.linkedin.com/in/bilyaminu-bawan-allah-b76696a5/">
                                                                                    <i class="iconoir-linkedin"></i>
                                                                                </a>

                                                                                <a href="https://www.instagram.com/halal_codes/">
                                                                                    <i class="iconoir-instagram"></i>
                                                                                </a>

                                                                            </div>
                                                                            <div
                                                                                class="d-flex align-items-center justify-content-between">
                                                                                <div class="infos">
                                                                                    <h4>STAY WITH ME</h4>
                                                                                    <h1>Profiles</h1>
                                                                                </div>

                                                                                <a href="{{ url_for('contact') }}l"
                                                                                    class="about-btn">

                                                                                    <img decoding="async"
                                                                                        src="../static/images/icon.svg"
                                                                                        alt="Button">

                                                                                </a>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>




                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-e325eec"
                                                data-id="e325eec" data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-983e78f elementor-widget elementor-widget-gridxdacontactbox"
                                                        data-id="983e78f" data-element_type="widget"
                                                        data-widget_type="gridxdacontactbox.default">
                                                        <div class="elementor-widget-container">

                                                            <!-- Start Contact Box
    ============================================= -->


                                                            <div data-aos="zoom-in" class="about-contact-box-wrap">

                                                                <div class="about-contact-box info-box shadow-box">
                                                                    <a class="overlay-link" href="{{ url_for('contact') }}"></a>

                                                                    <img decoding="async" src="../static/images/bg1.png"
                                                                        alt="BG" class="bg-img">


                                                                    <img decoding="async"
                                                                        src="../static/images/icon2.png" alt="Icon"
                                                                        class="star-icon">



                                                                    <h1>Let's <br>work <span>together.</h1>
                                                                    <a href="{{ url_for('contact') }}" class="about-btn">

                                                                        <img decoding="async"
                                                                            src="../static/images/icon.svg"
                                                                            alt="Button">

                                                                    </a>
                                                                </div>

                                                            </div>




                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-f093cd1"
                                                data-id="f093cd1" data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-ee2d870 elementor-widget elementor-widget-gridxdacredentialbox"
                                                        data-id="ee2d870" data-element_type="widget"
                                                        data-widget_type="gridxdacredentialbox.default">
                                                        <div class="elementor-widget-container">

                                                            <!-- Start Credentials Box
    ============================================= -->
                                                            <div data-aos="zoom-in" class="about-crenditials-box">
                                                                <div class="info-box shadow-box h-full">
                                                                    <a class="overlay-link" href="{{ url_for('credentials') }}"></a>


                                                                    <img decoding="async" src="../static/images/bg1.png"
                                                                        alt="BG" class="bg-img">


                                                                    <img decoding="async"
                                                                        src="../static/images/other/signature.png"
                                                                        alt="Sign">
                                                                    <div
                                                                        class="d-flex align-items-center justify-content-between">
                                                                        <div class="infos">
                                                                            <h4>MORE ABOUT ME</h4>
                                                                            <h1>Credentials</h1>
                                                                        </div>

                                                                        <a href="{{ url_for('credentials') }}" class="about-btn">


                                                                            <img decoding="async"
                                                                                src="../static/images/icon.svg"
                                                                                alt="Button">


                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>




                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>


            </div>
        </section>
        {% include "footer.html" %}

    </main>

    <script src='../static/plugins/contact-form-7/includes/swv/js/index41a3.js?ver=5.8' id='swv-js'></script>
    <script src='../static/plugins/contact-form-7/includes/js/index41a3.js?ver=5.8' id='contact-form-7-js'></script>
    <script src='../static/js/bootstrap.bundle.min3781.js?ver=6.2.2' id='bootstrap-js'></script>
    <script src='../static/js/aos3781.js?ver=6.2.2' id='aos-js'></script>
    <script src='../static/js/main3781.js?ver=6.2.2' id='gridx-main-js'></script>
    <script src='../static/js/ajax-form3781.html?ver=6.2.2' id='ajax-form-js'></script>
    <script src='../static/plugins/elementor/assets/js/webpack.runtime.mina1c3.js?ver=3.14.1'
        id='elementor-webpack-runtime-js'></script>
    <script src='../static/plugins/elementor/assets/js/frontend-modules.mina1c3.js?ver=3.14.1'
        id='elementor-frontend-modules-js'></script>
    <script src='../static/plugins/elementor/assets/lib/waypoints/waypoints.min05da.js?ver=4.0.2'
        id='elementor-waypoints-js'></script>
    <script src='../static/js/jquery/ui/core.min3f14.js?ver=1.13.2' id='jquery-ui-core-js'></script>
    <script src='../static/plugins/elementor/assets/js/frontend.mina1c3.js?ver=3.14.1'
        id='elementor-frontend-js'></script>
</body>


</html>