<!DOCTYPE html>
<html lang="en-US">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WORK PAGE</title>
    <meta name='robots' content='max-image-preview:large' />
    <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />


        <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/../static/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon/favicon-16x16.png">
<link rel="manifest" href="../static/images/favicon/site.webmanifest">

    <link rel='stylesheet' id='wp-block-library-css'
        href='../static/css/other/block-library/style.min3781.css?ver=6.2.2' media='all' />

    <link rel='stylesheet' id='classic-theme-styles-css' href='../static/css/classic-themes.min3781.css?ver=6.2.2'
        media='all' />
    <link rel='stylesheet' id='contact-form-7-css'
        href='../static/plugins/contact-form-7/includes/css/styles41a3.css?ver=5.8' media='all' />
    <link rel='stylesheet' id='redux-extendify-styles-css'
        href='../static/plugins/redux-framework/redux-core/assets/css/extendify-utilities4235.css?ver=4.4.5'
        media='all' />
    <link rel='stylesheet' id='icon-css' href='../static/css/iconoir3781.css?ver=6.2.2' media='all' />
    <link rel='stylesheet' id='bootstrap-css' href='../static/css/bootstrap.min3781.css?ver=6.2.2' media='all' />
    <link rel='stylesheet' id='aos-css' href='../static/css/aos3781.css?ver=6.2.2' media='all' />
    <link rel='stylesheet' id='gridx-style-css' href='../static/css/style3781.css?ver=6.2.2' media='all' />
    <link rel='stylesheet' id='gridx-unit-test-css' href='../static/css/gridx-unit-test3781.css?ver=6.2.2'
        media='all' />
    <link rel='stylesheet' id='gridx-fonts-css'
        href='http://fonts.googleapis.com/css?family=Inter%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C%26subset%3Dlatin%2Clatin-ext&amp;ver=1.0.0'
        media='all' />
    <link rel='stylesheet' id='elementor-icons-css'
        href='../static/plugins/elementor/assets/lib/eicons/css/elementor-icons.minfc13.css?ver=5.20.0' media='all' />
    <link rel='stylesheet' id='elementor-frontend-css'
        href='../static/plugins/elementor/assets/css/frontend-lite.mina1c3.css?ver=3.14.1' media='all' />
    <link rel='stylesheet' id='swiper-css'
        href='../static/plugins/elementor/assets/lib/swiper/v8/css/swiper.min94a4.css?ver=8.4.5' media='all' />
    <link rel='stylesheet' id='elementor-post-16-css' href='../static/css/elementor/css/post-16ad38.css?ver=1687779698'
        media='all' />
    <link rel='stylesheet' id='elementor-global-css' href='../static/css/elementor/css/globalad38.css?ver=1687779698'
        media='all' />
    <link rel='stylesheet' id='elementor-post-1084-css'
        href='../static/css/elementor/css/post-1084ad38.css?ver=1687779698' media='all' />
    <link rel='stylesheet' id='google-fonts-1-css'
        href='https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;display=swap&amp;ver=6.2.2'
        media='all' />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <script src='../static/js/jquery/jquery.min5aed.js?ver=3.6.4' id='jquery-core-js'></script>
    <script src='../static/js/jquery/jquery-migrate.min6b00.js?ver=3.4.0' id='jquery-migrate-js'></script>


</head>

<body
    class="page-template page-template-page-templates page-template-main-work page-template-page-templatesmain-work-php page page-id-1084 elementor-default elementor-kit-16 elementor-page elementor-page-1084">


    <main class="main-workspage">

        <!-- Header -->
       {% include "header.html" %}

        <!-- Projects -->
        <section class="projects-area">
            <div class="container">







                <div data-elementor-type="wp-page" data-elementor-id="1084" class="elementor elementor-1084">
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-fa0411b row elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="fa0411b" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-no">

                            <div class="elementor-column elementor-column-wrap elementor-top-column  elementor-element-2c8de81"
                                data-id="2c8de81" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-1c546af elementor-hidden-mobile elementor-widget elementor-widget-gridxdaworktitlebox"
                                        data-id="1c546af" data-element_type="widget"
                                        data-widget_type="gridxdaworktitlebox.default">
                                        <div class="elementor-widget-container">

                                            <!-- Start Work
    ============================================= -->


                                            <h1 class="section-heading" data-aos="fade-up">
                                                <img decoding="async" src="../static/images/star-2.png" alt="Star">

                                                All Projects
                                                <img decoding="async" src="../static/images/star-2.png" alt="Star">


                                            </h1>
                                            {% with messages = get_flashed_messages() %}
                                                            {% if messages %}
                                                            <p class="alert alert-success">{{ messages[0] }}</p>
                                                            {% endif %}
                                                        {% endwith %}




                                        </div>
                                    </div>
                                    <section
                                        class="elementor-section elementor-inner-section elementor-element elementor-element-9237a9c elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                        data-id="9237a9c" data-element_type="section">



                                        <div class="elementor-container elementor-column-gap-custom">

                                            <div class="row">
                                            {% for project in projects %}
                                            <div class="elementor-column col-md-4 col-lg-4 elementor-inner-column elementor-element elementor-element-bc7afa9"
                                                data-id="bc7afa9" data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-a76b780 elementor-widget elementor-widget-gridxdaworkcontentbox"
                                                        data-id="a76b780" data-element_type="widget"
                                                        data-widget_type="gridxdaworkcontentbox.default">
                                                        <div class="elementor-widget-container">

                                                            <!-- Start Work
    ============================================= -->

                                                            <div class="d-flex align-items-start gap-24">

                                                                <div data-aos="zoom-in" class="flex-1">
                                                                    <div class="project-item shadow-box">
                                                                        <a class="overlay-link"
                                                                            href="{{ url_for('work_details', project_id=project.id) }}"></a>

                                                                        <img decoding="async"
                                                                            src="../static/images/bg1.png" alt="BG"
                                                                            class="bg-img">


                                                                        <div class="project-img">
                                                                            <img decoding="async"
                                                                                src="{{ project.img_url_1 }}"
                                                                                alt="Project">
                                                                        </div>
                                                                        <div
                                                                            class="d-flex align-items-center justify-content-between">
                                                                            <div class="project-info">
                                                                                <p>{{ project.project_name }}</p>
                                                                                <h1>{{ project.client }}</h1>
                                                                            </div>
                                                                            <a href="{{ url_for('work_details', project_id=project.id) }}"
                                                                                class="project-btn">

                                                                                <img decoding="async"
                                                                                    src="../static/images/icon.svg"
                                                                                    alt="Button">

                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>












                                                        </div>
                                                    </div>

                                                </div>

                                            </div>







                                        {% endfor %}
                                            </div>


                                        </div>




                                    </section>

                                </div>

                            </div>
                        </div>
                    </section>
                </div>
                {% if current_user.id == 1 %}
                                        <div >
                                           <div class="text-right">
                                        <a href="{{ url_for('add_project') }}" class="theme-btn text-right">Add Project</a>
                                            </div>
                                        </div>
                                        {% endif %}

            </div>
        </section>
        {% include "footer.html" %}
    </main>

    <script src='../static/plugins/contact-form-7/includes/swv/js/index41a3.js?ver=5.8' id='swv-js'></script>
    <script src='../static/plugins/contact-form-7/includes/js/index41a3.js?ver=5.8' id='contact-form-7-js'></script>
    <script src='../static/js/bootstrap.bundle.min3781.js?ver=6.2.2' id='bootstrap-js'></script>
    <script src='../static/js/aos3781.js?ver=6.2.2' id='aos-js'></script>
    <script src='../static/js/main3781.js?ver=6.2.2' id='gridx-main-js'></script>
    <script src='../static/js/ajax-form3781.html?ver=6.2.2' id='ajax-form-js'></script>
    <script src='../static/plugins/elementor/assets/js/webpack.runtime.mina1c3.js?ver=3.14.1'
        id='elementor-webpack-runtime-js'></script>
    <script src='../static/plugins/elementor/assets/js/frontend-modules.mina1c3.js?ver=3.14.1'
        id='elementor-frontend-modules-js'></script>
    <script src='../static/plugins/elementor/assets/lib/waypoints/waypoints.min05da.js?ver=4.0.2'
        id='elementor-waypoints-js'></script>
    <script src='../static/js/jquery/ui/core.min3f14.js?ver=1.13.2' id='jquery-ui-core-js'></script>
    <script src='../static/plugins/elementor/assets/js/frontend.mina1c3.js?ver=3.14.1'
        id='elementor-frontend-js'></script>
</body>


</html>